*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Exclude references as they are other git repos
/references/

# Local Dev Environment
android-sdk/
jdk17/
*.zip
app/build/
